<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <services>
		  <service name="Fußball_WCF.Service1"
		  behaviorConfiguration="ServiceBehaviour">
			  <endpoint address="" binding="webHttpBinding"
			   contract="Fußball_WCF.IService1"
			   bindingConfiguration=""
			   behaviorConfiguration="EndPointBehavior"/>
		  </service>
	  </services>
	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="ServiceBehaviour">
				  <!-- To avoid disclosing metadata information, set the 
value below to false before deployment -->
				  <serviceMetadata httpGetEnabled="true"/>
				  <!-- To receive exception details in faults for debugging 
purposes, set the value below to true. Set to 
false before deployment to avoid disclosing 
exception information -->
				  <serviceDebug includeExceptionDetailInFaults="false"/>
			  </behavior>
		  </serviceBehaviors>
		  <endpointBehaviors>
			  <behavior name="EndPointBehavior">
				  <webHttp helpEnabled="true"/>
			  </behavior>
		  </endpointBehaviors>
	  </behaviors>

	  <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Um das Stammverzeichnis der Webanwendung beim Debuggen auszuwählen, legen Sie den Wert unten auf "true" fest.
        Legen Sie ihn vor der Bereitstellung auf "false" fest, um die Veröffentlichung von Informationen über den Webanwendungsordner zu vermeiden.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
